/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(http://kiddos-catering.herokuapp.com/icon/Preloader-4.gif) center no-repeat #fff;
}







/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;

    background-color: white;
}

.cart-info {
    background-color: #aa3a3a;
    color: white;
    padding: 2px 6px;
    border-radius: 10px;
}


.navbar {
    z-index: 10 !important;
}

.navbar-brand {
    font-family: 'Pinyon Script', cursive;
    font-size: 25px;
    font-weight: bold;
}

.kiddos.container {

    background-color: white;

}

.caraousel-inner {
    border-bottom: 5px solid black !important;
}

.carousel-item img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
} */

.carousel-caption {
    font-family: 'Pinyon Script', cursive;
    font-size: 30px;

    opacity: 80%;

}
.carousel-caption p {
    line-height: 1.2;

}

.nav-link {
    font-weight: bold;
    color: black;
}

.nav-link:hover {
    color: #aa3a3a;
}

.nav-item.active {
    border-bottom: 3px solid #aa3a3a;
}


input[type="radio"] {
    display: none;
    box-sizing: border-box;
    margin-left: 5px;
}

label {
    box-sizing: border-box !important;
    display: inline-block;
    font-weight: bold;
    padding: 5px 13px;

}

input[type="radio"]:checked+label {
    border-bottom: 2px solid #aa3a3a;
    font-weight: bold;
    color: #aa3a3a;
}


label:hover {
    color: #aa3a3a;
    cursor: pointer;
}

.opacity {
    pointer-events: none;
    opacity: 50%;
}


.sub-kategori>.form-check>label {
    font-size: 12px;
}

.sub-kategori input[type="radio"]:checked+label {
    background-color: #aa3a3a;
    font-weight: bold;
    color: white;
}


.card-img-top {
    box-sizing: border-box;
    height: 270px;
    object-fit: cover;
    object-position: center;
    border-bottom: 10px solid #aa3a3a;   
}

.card-title {

    margin-bottom: -2px;
}

.card-footer a,.btn-menu-card {
    background-color: white !important;
    border: 1px solid #aa3a3a;
    color: #aa3a3a;
    font-weight: bold;
}

.card-footer a:hover,.btn-menu-card:hover {
    background-color: #aa3a3a !important;
    border: 1px solid white;
    color: white;
}

.btn-menu-card:focus,.card-footer a:focus {
    background-color: #aa3a3a !important;
    border: 1px solid white;
    color: white !important;

}

.card-body .harga {
    font-size: 16px;
}
.card-body .harga span {
    font-size: 20px;
}

/* .btn-menu-card{
    background-color: #aa3a3a !important;
    color: white;
    border: 1px solid  #aa3a3a !important ;
} */


.kiddos-footer {
    margin-top: 250px;
    background-color: #aa3a3a !important;
    color: black;
    border-radius: 10px;
}

.kiddos-footer>span {
    margin-top: 10px !important;
    font-size: 11px;
}

.detail-menu {
    border-left: 100px solid #aa3a3a;
    padding: 15px 15px;
    /* background-image: url('/storage/images/bg/Ellipse-1.png') !important;
    background-repeat: no-repeat;
    background-position-x: right; */
}


/* .detail-menu .card-img {
    border-radius: 20px;
} */

.detail-menu .row {
    margin-left: -50px;
}

.detail-menu hr {
    border: 2px solid #aa3a3a;
    background-color: #aa3a3a;
}

.detail-menu button {
    opacity: 85%;
    color: white;
    border: 0px;
    background-color: #aa3a3a;
    position: absolute;
    bottom: 0;
    right: 0;
}

.detail-menu button:hover {
    opacity: 100%;
    color: white;
    border: 0px;
    background-color: #aa3a3a;
    position: absolute;
    bottom: 0;
    right: 0;
}

.ellipse-1 {
    position: absolute;
    right: 10px;
    top: -10px;
    width: 250px;
}

.ellipse-2 {
    position: absolute;
    left: 30px;
    bottom: 0px;
    width: 100px;
}


/* pagination */
.page-item.active .page-link{
    background-color: #aa3a3a !important;
    border-color: #aa3a3a ;
}

button.page-link {
    color: #aa3a3a;
}

button.page-link:hover {
    color: #aa3a3a;
}

/* fullcalendar */
.fc-day-today {
    background-color: #ffffff51 !important;
    border: 2px solid  #aa3a3a !important;
}

.fc-next-button {
    margin-left: 5px !important;
    background-color:#aa3a3a !important ;
    border-color: #aa3a3a !important ;
}

.fc-prev-button {
    margin-right: 5px;
    background-color:#aa3a3a !important ;
    border-color: #aa3a3a !important ;
}

.fc-today-button {

    background-color:#aa3a3a !important ;
    border-color: #aa3a3a !important ;
}
 

.fc-toolbar-title{
    font-weight: bold;
}

.modal-header {
    border-bottom: 5px solid #aa3a3a;
}


/* modal */
.btn-modal-welcome {
    background-color:#aa3a3a !important ;
}

/* card saran */

.btn-saran {
    background-color:#aa3a3a !important ;
    color: white;
}
.btn-saran:hover {
    background-color:#aa3a3a !important ;
    color: white;
  
}

.card.saran .card-header{
    border-bottom: 5px solid #aa3a3a;
}


.container-cart{
    height: 100vh;
}


.table-cart tr td {
    vertical-align: middle !important;
}

.btn-red{
    background-color:#aa3a3a !important ;
}